<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-messages">{{ messages }}</div>
            {% endfor %}
        {% endif %}
   {% endwith %}

   <div class="form-container">
        <h1>Registration Form</h1>

        {% if errors %}
            <div class="error-container">
                <h3 class="error-heading">Please fix the following:</h3>
                {% for error in errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"
                    value="{{ request.form.username }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"
                    value="{{ request.form.email }}" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <div class="password-requirements">
                    <p>Password must contain:</p>
                    <ul>
                        <li id="length">8+ characters</li>
                        <li id="uppercase">Uppercase letter</li>
                        <li id="lowercase">Lowercase letter</li>
                        <li id="number">Number</li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="button">Sign up</button>
        </form>
   </div>
   <script src="{{ url_for('static', filename="js/script.js") }}" async></script>
</body>
</html>